.board-columns {
    /* ***** */
    height: calc(100% - 56px);
    /* ***** */
    width: 100%;

    white-space: nowrap;
    position: relative;
    overflow-x: scroll; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 45px;
    display: flex;

    /* background-color: antiquewhite; */
}

/* The purpose of this wrapper is so that we have a container that contains all 
columns but is also a child of another container that has overflow-x and overflow-y 
set to scroll. This lets us scroll through kanban board when we have too many 
cards/columns to fit the available space for the board.  */
.board-columns-wrapper {
    min-height: calc(100% - 50px); 
    height: fit-content;
    display: flex;
}

.board-column {
    box-sizing: border-box;
    min-width: 250px;
    max-width: 250px;

    margin: 0 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hwb(210 98% 1%);
    border-radius: 8px;
    padding: 5px 3px 0 3px;

    /* ***** */
    /* no height setting */
    /* ***** */
}


.board-droppable-area {
    /* ***** */
    min-height: 100%; /* The 41px is to account for the space that the kanban-board-heading takes up.  */
    height: fit-content;
    /* ***** */
    width: 100%;
    
    /* background-color: antiquewhite; */
}

.kaban-card-container {
    margin-top: 2px;
    margin-left: 2px;
    padding-bottom: 5px;
}


