.issue-page-container {
    display: flex;
    /* display: grid; */
    flex-direction: column;
    width: 100%;

    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 18px;
    border-radius: 6px;

}

.issue-navbar {
    padding: 12px;
}

/* .close-issue-page-button {

} */

.close-issue-page-button {
    display: flex;
    padding: 3px;
    border-radius: 3px;
    transition: 0.1s ease-out 0s;
    border: none;
    background-color: #FFF;
}

.close-issue-page-button:hover {
    background-color: #F3F4F6;
}

.close-issue-page-button:active {
    background-color: #EBEBEB;
}


.issue-content {
    /* background-color: aqua; */
    /* border: 1px solid black; */

    width: 100%;
    display: flex;
    flex: 1;
    border-radius: 0 0 6px 6px;
}


.issue-main {
    /* border-right: 1px solid black; */
    flex: 2.6;
}

/* Taken from velocity */
.issue-main-clamp {
    width: calc(100% - 120px);
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
    height: 100%;
}

.issue-main-clamp form {
    display: flex;
    flex-direction: column;
}





.issue-details {
    flex: 1;
}