.issue-page-container {
    display: flex;
    /* display: grid; */
    flex-direction: column;
    width: 100%;

    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 18px;
    border-radius: 6px;

}

.issue-navbar {
    padding: 12px;
}

.issue-content {
    background-color: aqua;
    width: 100%;
    display: flex;
    flex: 1;
    border-radius: 0 0 6px 6px;
    border: 1px solid black;
}


.issue-main {
    border-right: 1px solid black;
    flex: 2.6;
}

.issue-details {
    flex: 1;
}