.issue-page-container {
    background-color: aqua;
    width: 100%;
    display: flex;
    margin: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 18px;
    border-radius: 6px;
}


.issue-content {
    border: 1px solid black;
    flex-grow: 2.325;
}

.issue-details {
    flex-grow: 1;
}