.kanban-modal {
    background: linear-gradient(136.61deg, rgb(255, 255, 255) 13.72%, rgb(255, 255, 255) 74.3%);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 16px 70px;
    color: rgb(60, 65, 73);
    
    position: fixed;
    top: 13vh;

    /* background-color: black; */

    min-width: 700px;
    max-width: 700px;
    /* min-height: 200px; */
    /* min-height: 233px; */

    z-index: 999;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 12px;

}


.kanban-modal-topbar {
    display: flex;
    justify-content: space-between;
    margin-left: 14px;
}



.kanban-modal-close-button {
    display: flex;
    padding: 3px;
    border-radius: 3px;
    transition: 0.1s ease-out;
    border: none;
    background-color: #FFF;
}

.kanban-modal-close-button:hover {
    background-color: #F3F4F6;
}

.kanban-modal-close-button:active {
    background-color: #EBEBEB;
}


.kanban-modal-footer {
    margin-left: 14px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;

    border-top: 1px solid #EBEBEB;
    padding-top: 12px;
}

.kanban-modal-form-save-button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #ededed;
    transition: 0.1s ease-out;

}

.kanban-modal-form-save-button:hover {
    background-color: hsl(0, 0%, 0%, 0.090);
}



.issue-content-title {
    margin-bottom: 0 !important;
}

.issue-content-title:focus {
    border-color: #FFF !important;
}

.ProseMirror:focus {
    border-color: #FFF !important;
}