.kanban-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-backdrop {
    height: 100%;
    width: 100%;
    background-color: rgba(144, 149, 157, 0.4);

    /* pointer-events: all; */
}