

.board-container {
    /* z-index: -100; */
    /* min-width: 100vw; */
    flex-grow: 1;
    height: calc(100vh - 56px);
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


/** Board Topbar Styling ***********************************************************************************/
.board-navbar {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.board-navbar ul {
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.board-list-toggle-button, .board-view-button {
    padding: 6px;
    margin: 10px 24px;
    font-size: 14px;


    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: rgb(244, 245, 248);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px;
    border: 1px solid rgb(223, 225, 228);
}

.board-view-button span {
    margin: 0 5px;
}

.board-list-toggle-button {
    padding: 6px 13.5px;
}


/** Kaban Board Styling ************************************************************************************/
.board-columns {
    /* width: 500px; */
    /* min-height: calc(100% - 56px); */
    /* height: 100%; */
    /* height: fit-content; */
    /* ***** */
    height: calc(100% - 56px);
    /* ***** */
    width: 100%;

    white-space: nowrap;
    position: relative;

    /* ORIGINAL */
    overflow-x: scroll; 
    overflow-y: scroll;
    /* ORIGINAL */

    /* overflow-x: hidden; */
    /* overflow-y: hidden;  */
    -webkit-overflow-scrolling: touch;

    padding-left: 45px;
    display: flex;

    /* background-color: antiquewhite; */
}

.board-column {
    box-sizing: border-box;
    min-width: 250px;
    max-width: 250px;
    float: none;

    position: relative;

    margin: 0 8px;
    display: inline-block;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */

    /* min-height: fit-content; */
    /* height: calc(100% - 41px); */
    /* min-height: 100%;  */

    /* ***** */
    /* no height setting */
    /* ***** */

    margin: 0 8px;
    display: inline-block;

    /* height: fit-content; */
    /* min-height: 96%; */
    
}


















.kaban-board-heading {
    margin-bottom: 20px;
    width: 100%;
}

.board-droppable-area {
    
    /* min-height: 100%; */
    /* min-height: fit-content; */
    /* min-height: max(100%, fit-content); */
    /* overflow-y: visible; */
    /* height: calc(100% - 41px); */
    /* min-height: 200px; */
    
    /* height: 100%; */

    /* overflow-y: scroll;  */
    /*! This method of allowing users to verically scroll is not supported by react-beautiful-dnd. Fix issue in future. */
    /* overflow-x: initial; */

    /* ***** */
    min-height: 96%;
    height: fit-content;
    /* ***** */
    width: 100%;
    
    background-color: antiquewhite;
}

/* .board-droppable-area::-webkit-scrollbar {
    display: none;
} */




.kaban-card-container {
    margin-top: 2px;
    margin-left: 2px;
    padding-bottom: 5px;
}