

.board-container {
    /* z-index: -100; */
    /* min-width: 100vw; */
    flex-grow: 1;
    height: calc(100vh - 56px);
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


/** Board Topbar Styling ***********************************************************************************/
.board-navbar {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.board-navbar ul {
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.board-list-toggle-button, .board-view-button {
    padding: 6px;
    margin: 10px 24px;
    font-size: 14px;


    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: rgb(244, 245, 248);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px;
    border: 1px solid rgb(223, 225, 228);
}

.board-view-button span {
    margin: 0 5px;
}

.board-list-toggle-button {
    padding: 6px 13.5px;
}


/** Kaban Board Styling ************************************************************************************/


