

.board-container {
    /* z-index: -100; */
    /* min-width: 100vw; */
    flex-grow: 1;
    height: calc(100vh - 56px);
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


/** Board Topbar Styling ***********************************************************************************/
.board-navbar {
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.board-navbar ul {
    list-style: none;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.board-list-toggle-button, .board-view-button {
    padding: 6px;
    margin: 10px 24px;
    font-size: 14px;


    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    background-color: rgb(244, 245, 248);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px;
    border: 1px solid rgb(223, 225, 228);
}

.board-view-button span {
    margin: 0 5px;
}

.board-list-toggle-button {
    padding: 6px 13.5px;
}


/** Kaban Board Styling ************************************************************************************/

.kaban-board-headings-container {
    display: flex;
    padding-top: 1px;

    position: sticky;
    top: -1px;
    /* top: 0; */
    background-color: white;
}
.kaban-board-heading {
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
    padding-top: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    /* top: -1px; */
    /* background-color: white;  */
}

.isSticky::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(9, 30, 66, 0.13) 0px, rgba(9, 30, 66, 0.13) 1px, rgba(9, 30, 66, 0.08) 1px, rgba(9, 30, 66, 0) 4px) repeat scroll 0% 0%;
}

.board-columns {
    /* ***** */
    height: calc(100% - 56px);
    /* ***** */
    width: 100%;

    white-space: nowrap;
    position: relative;
    overflow-x: scroll; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 45px;
    display: flex;

    /* background-color: antiquewhite; */
}

/* The purpose of this wrapper is so that we have a container that contains all columns but is also a child of another container that has overflow-x and overflow-y set to scroll. This lets us scroll through kanban board when we have too many cards/columns to fit the available space for the board.  */
.board-columns-wrapper {
    min-height: calc(100% - 43px); 
    height: fit-content;
    display: flex;
}

.board-column {
    box-sizing: border-box;
    min-width: 250px;
    max-width: 250px;

    margin: 0 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;


    /* ***** */
    /* no height setting */
    /* ***** */
}


.board-droppable-area {
    /* ***** */
    min-height: 100%; /* The 41px is to account for the space that the kanban-board-heading takes up.  */
    height: fit-content;
    /* ***** */
    width: 100%;
    
    /* background-color: antiquewhite; */
}

.kaban-card-container {
    margin-top: 2px;
    margin-left: 2px;
    padding-bottom: 5px;
}